<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage | Uploadrr</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body class="flex flex-col">

    <div class="flex justify-center w-full bg-[#6C757D] p-5 drop-shadow-2xl shadow-2xl">
        <h1 class="flex font-serif text-4xl font-extrabold text-[#F8F9FA]">Uploadrr</h1>
    </div>

    <div class="flex flex-row bg-[#CED4DA] text-[#212529] h-screen w-full">

        <div id="left_div" class="flex flex-col basis-1/5 border-r-2 border-black font-serif text-lg mt-2">

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/profile/'>
                <box-icon class="flex" name='log-out'></box-icon> 
                <span class="flex">Profile</span>
            </a>

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/uploadFile/'>
                <box-icon class="flex" name='cloud-upload'></box-icon>
                <span class="flex">Upload Files</span>
            </a>

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/viewUploadedFile/'>
                <box-icon name='upload' ></box-icon>
                <span>View Uploaded Files</span>
            </a>

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/sharedFile/'>
                <box-icon name='share' ></box-icon>
                <span>Shared Files</span>
            </a>

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/searchUser/'>
                <box-icon name='search-alt-2' ></box-icon>
                <span>Search User</span>
            </a>

            <a class="flex bg-[#CED4DA] rounded-lg m-2 px-3 py-5 hover:cursor-pointer space-x-5 hover:bg-[#DEE2E6] hover:shadow-xl hover:drop-shadow-xl" href='/logout/'>
                <box-icon name='log-out' ></box-icon>
                <span>Logout</span>
            </a>

        </div>

        <div id="right-div" class="flex basis-4/5 w-full bg-[#E9ECEF]">

            {% block content %}
            
            {% endblock content %}

        </div>

    </div>
    
</body>
</html>