<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
</head>
<body>

    WElcome {{ request.user }}!!

    {{ request.user.first_name }}


    <form action="/home/" method="post">
        
        {% csrf_token %}

        <input type="submit" value="Logout" name="btn_name">
        
    </form>

    <form action="/home/" method="post">

        {% csrf_token %}

        <input type="file" name="files" id="files">

        <input type="submit" name="btn_name" value="Upload">


    </form>

</body>
</html>