<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage | Uploadrr</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body class="flex flex-col">

    <div class="flex justify-center w-full bg-red-500 p-5">
        <h1 class="flex font-serif text-3xl font-extrabold">Uploadrr</h1>
    </div>

    <div class="flex flex-row h-screen w-full bg-red-100">

        <div id="left_div" class="flex flex-col basis-1/5 border-r-2 border-black font-serif text-md">

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/profile/'>
                <box-icon class="flex" name='log-out'></box-icon> 
                <span class="flex">Profile</span>
            </a>

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/uploadFile/'>
                <box-icon class="flex" name='cloud-upload'></box-icon>
                <span class="flex">Upload Files</span>
            </a>

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/viewUploadedFile/'>
                <box-icon name='upload' ></box-icon>
                <span>View Uploaded Files</span>
            </a>

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/sharedFile/'>
                <box-icon name='share' ></box-icon>
                <span>Shared Files</span>
            </a>

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/searchUser/'>
                <box-icon name='search-alt-2' ></box-icon>
                <span>Search User</span>
            </a>

            <a class="flex bg-slate-400 p-3 border-b-2 border-black hover:cursor-pointer space-x-5" href='/logout/'>
                <box-icon name='log-out' ></box-icon>
                <span>Logout</span>
            </a>

        </div>

        <div id="right-div" class="flex basis-4/5 w-full">

            {% block content %}
            
            {% endblock content %}

        </div>

    </div>
    
</body>
</html>