<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register </title>
</head>
<body>

    <div>

        <form action="/register/" method="post">

            {% csrf_token %}

            {% if messages %}

                {% for message in messages %}

                    {{ message.tags }} {{ message }}

                {% endfor %}
            
            {% endif %}

            <label for="uname">Username</label>
            <input type="text" name="uname" required>

            <label for="fname">First Name</label>
            <input type="text" name="fname" required>
    
            <label for="lname">Last Name</label>
            <input type="text" name="lname" required>
    
            <label for="pass">Password</label>
            <input type="password" name="pass" required>

            <input type="submit" name="btn_name" value="Register">

        </form>

    </div>
    
</body>
</html>