{% extends "basePage.html" %}

{% block content %}

    <div class="flex flex-col w-full p-10 font-serif">

        <div class="flex justify-center text-3xl bg-[#DEE2E6] font-serif font-extrabold text-[#212529] py-5 rounded-lg">
            <h1>Uploaded Files</h1>
        </div>

        <div class="flex flex-row font-bold mt-10">
            <h1 class="flex basis-1/4 justify-center">Sr.no</h1>
            <h1 class="flex basis-1/4 justify-center">File Name</h1>
            <h1 class="flex basis-1/4 justify-center">Download</h1>
            <h1 class="flex basis-1/4 justify-center">Share</h1>
        </div>

        {% for file in files %}

            <div class="flex flex-row mt-5">
                <div class="flex basis-1/4 justify-center">{{ forloop.counter }}</div>
                <div class="flex basis-1/4 justify-center">{{ file.file_name }}</div>
                <div class="flex basis-1/4 justify-center">
                    <a class="flex" href="/media/{{ file.file }}" download><box-icon name='cloud-download' animation='tada-hover'></box-icon></a>
                </div>
                <form action="/viewUploadedFile/" method="post">
                    {% csrf_token %}
                    <input type="text" value="{{ file.id }}" name="fid" hidden>
                    <div class="flex basis-1/4 justify-center space-x-3 text-sm">
                        <input class="flex px-2" type="text" name="uname" placeholder="Enter username">
                        <input class="flex bg-[#343A40] text-[#E9ECEF] px-3 py-2 rounded-md hover:cursor-pointer" type="submit" name="btn_name" value="Share">
                    </div>
                </form>
            </div>

        {% endfor %}

        <div class="flex justify-end mt-10 text-red-600">
            <span>Note: Make sure username is correct.</span>
        </div>

    </div>

{% endblock content %}