{% extends "basePage.html" %}

{% block content %}

    <div class="flex flex-col w-full p-10 font-serif">

        <div class="flex justify-center text-xl font-extrabold bg-black text-[#ffffff] py-5 rounded-lg">
            <h1>Uploaded Files</h1>
        </div>

        <div class="flex flex-row font-bold mt-10">
            <h1 class="flex basis-1/4">Sr.no</h1>
            <h1 class="flex basis-3/4">File Name</h1>
        </div>

        {% for file in files %}

            <div class="flex flex-row mt-5">
                <div class="flex basis-1/4">{{ forloop.counter }}</div>
                <div class="flex basis-3/4">{{ file.file_name }}</div>
            </div>

        {% endfor %}

    </div>

{% endblock content %}